replicaCount: 1

image:
  repository: ronbutbul135/tic-tac-toe-frontend
  pullPolicy: IfNotPresent
  # tag: "latest"

inject:
  image: ronbutbul135/busybox:latest

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Global config reference
globalConfig:
  name: global-config-config
  namespace: default

# Service configuration
service:
  type: ClusterIP
  port: 80


# Ingress configuration
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: game.testmpr.aws2.rafael.co.il
      paths:
        - path: /
          pathType: Prefix
  tls: []

