apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch-postinstall
  labels:
    app: elasticsearch-postinstall
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate 
  selector:
    matchLabels:
      app: elasticsearch-postinstall
  template:
    metadata:
      labels:
        app: elasticsearch-postinstall
      annotations:
        "helm.sh/hook": "post-install"
        checksum/config: {{ include (print $.Template.BasePath "/elasticsearch-configuration-cm.yaml") . |sha256sum }}
    spec:
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
      containers:
        - name: elasticsearch-postinstall-container
          image: {{ .Values.image  }}
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          command: 
          - sh
          - -c 
          - |
            echo post-install hook Pod is running - hook-postinstall && sleep 10
            while true 
            do 
              /usr/share/extras/runPostInstall.sh 
              sleep 30 
            done
            # /usr/share/extras/runPostInstall.sh
            # while true; do sleep 30; done;
            # command: ['sh', '-c', 'echo post-install hook Pod is running - hook-postinstall && sleep 10']
          volumeMounts:
          - name: extras
            mountPath: /usr/share/extras
      volumes:
      - name: extras
        configMap:
          name: elasticsearch-configuration
          defaultMode: 0777 
