apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "cp-kafka-connect.fullname" . }}-tls-configmap
  labels:
    app: {{ template "cp-kafka-connect.name" . }}
    chart: {{ template "cp-kafka-connect.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  import-certs.sh: |
    #!/bin/bash

       
    /usr/bin/openssl \
    pkcs12 -export -in /etc/creds-volume/kafka-certificate.crt \
    -inkey /etc/creds-volume/kafka-key \
    -chain -CAfile /etc/creds-volume/ca.crt \
    -name "kafkaconnect" \
    -out my.p12 \
    -password pass:changeit

    /usr/bin/keytool \
    -importkeystore \
    -deststorepass changeit \
    -destkeystore keystore.jks \
    -srckeystore my.p12 \
    -srcstoretype PKCS12 \
    -srcstorepass changeit
