apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: appset
  namespace: argo-cd
spec:
  goTemplate: true
  generators:
    - matrix:
        generators:
          - list:
              elements:
              - cluster: in-cluster
                url: https://kubernetes.default.svc
          - git:
              repoURL: https://github.com/ronbutbul/tic-tac-toe-helm.git
              revision: main
              directories:
                - path: '*'
                - path: 'infra'
                  exclude: true
                - path: 'applicationsets'
                  exclude: true                  
 
  template:
    metadata:
      name: '{{.path.basenameNormalized}}'
    spec:
      project: 'default'
      source:
        repoURL: https://github.com/ronbutbul/tic-tac-toe-helm.git
        targetRevision: main
        path: '{{.path.path}}'
        helm:
          valueFiles:
          - 'values.yaml'
      destination:
        server: '{{.url}}'
        # namespace: '{{ if eq .path.basenameNormalized "cloudnative-pg-operator" }}operators{{ else if eq .path.basenameNormalized "minio-operator" }}operators{{ else if eq .path.basenameNormalized "prometheus-stack" }}monitoring{{ else if eq .path.basenameNormalized "eck-operator" }}operators{{ else if eq .path.basenameNormalized "ingress-nginx" }}ingress-nginx{{ else if eq .path.basenameNormalized "csi-driver-nfs" }}nfs-csi{{ else if eq .path.basenameNormalized "postgres-operator" }}operators{{ else }}cymng-infra{{ end }}'
        namespace: 'default'
      syncPolicy:
        automated:
          selfHeal: true