global:
  defaultStorageClass: efs-sc

  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: bitnamilegacy/keycloak
  tag: 26.3.3-debian-12-r0

auth:
  adminUser: admin
  adminPassword: "admin"
  passwordSecretKey: ""

extraEnvVars:
  - name: KEYCLOAK_ADMIN
    value: admin
  - name: KEYCLOAK_ADMIN_PASSWORD
    value: admin
  - name: KC_PROXY_HEADERS
    value: "xforwarded" 
  - name: KC_PROXY
    value: "edge"
  - name: KC_HOSTNAME
    value: "keycloak.testmpr.aws2.rafael.co.il"
service:
  type : ClusterIP
  http:
    enabled: true
  ports:
    http: 80
    https: 8443
  nodePorts:
    http: "30080"
    https: "30443"



ingress:
  enabled: true
  ingressClassName: "nginx"
  hostname: keycloak.testmpr.aws2.rafael.co.il
  extraTls:
  - hosts:
      - keycloak.testmpr.aws2.rafael.co.il
    secretName: testmpr-aws-wildcard-cert
 

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r0

  auth:
    postgresPassword: "ioKk0gVfYV"  
    username: bn_keycloak
    password: "e4zKtPSSgE"
    database: bitnami_keycloak
logging:
  output: default
  level: INFO

