servingEngineSpec:
  runtimeClassName: "nvidia"
  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Equal"
  modelSpec:
  - name: "llama3"
    repository: "vllm/vllm-openai"
    tag: "latest"
    modelURL: "/models/gpt-neox-20b"
    replicaCount: 1
    requestCPU: 10
    requestMemory: "16Gi"
    requestGPU: 1
    pvcStorage: "200Gi"
    pvcAccessMode: ["ReadWriteMany"]

    # vllmConfig:
    #   enableChunkedPrefill: false
    #   enablePrefixCaching: false
    #   maxModelLen: 16384
    #   dtype: "bfloat16"
    #   extraArgs: ["--disable-log-requests", "--gpu-memory-utilization", "0.8"]

    hf_token: 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
routerSpec:
  # -- The docker image of the router. The following values are defaults:
  repository: "ronbutbul135/lmstack-router"
  tag: "latest"
  imagePullPolicy: "Always"
