servingEngineSpec:
  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Equal"
  modelSpec:
  - name: "llama3"
    repository: "vllm/vllm-openai"
    tag: "latest"
    modelURL: "EleutherAI/gpt-neox-20b"
    replicaCount: 1
    requestCPU: 10
    requestMemory: "16Gi"
    requestGPU: 1

    pvcStorage: "50Gi"

    vllmConfig:
      enableChunkedPrefill: false
      enablePrefixCaching: false
      maxModelLen: 16384
      dtype: "bfloat16"
      extraArgs: ["--disable-log-requests", "--gpu-memory-utilization", "0.8"]

    hf_token: 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
