global:
  imageRegistry: "artifactory.rafael.co.il:6001"
  imagePullSecrets:
    - tsgs-registry
  defaultStorageClass: ""
  storageClass: "tsgs-sc"
  security:
    allowInsecureImages: true


image:
  registry: artifactory.rafael.co.il:6001
  repository: bitnami/kafka
  tag: 4.0.0-debian-12-r10
  digest: ""
  pullPolicy: IfNotPresent
  pullSecrets:
    - tsgs-registry
  debug: false

##
listeners:
  client:
    containerPort: 9092
    protocol: PLAINTEXT
    name: CLIENT
    sslClientAuth: ""

  controller:
    name: CONTROLLER
    containerPort: 9093
    protocol: PLAINTEXT
    sslClientAuth: ""

  interbroker:
    containerPort: 9094
    protocol: PLAINTEXT
    name: INTERNAL
    sslClientAuth: ""

  external:
    containerPort: 9095
    protocol: SSL
    name: EXTERNAL
    sslClientAuth: "none"

controller:
  replicaCount: 3
  controllerOnly: false
  automountServiceAccountToken: true
  heapOpts: -Xmx2048m -Xms2048m
  resources:
    requests:
      memory: "4096Mi"
      cpu: 2
    limits:
      memory: "4096Mi"
      cpu: 2
  persistence:
    enabled: true
    size: 50Gi
  logPersistence:
    enabled: true
    size: 8Gi
  pdb:
    create: true
    minAvailable: ""
    maxUnavailable: 1

  livenessProbe:
    enabled: true
    initialDelaySeconds: 60
    timeoutSeconds: 5
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1

  readinessProbe:
    enabled: true
    initialDelaySeconds: 60
    failureThreshold: 6
    timeoutSeconds: 5
    periodSeconds: 10
    successThreshold: 1
  tolerations:
    - key: "statefulset/special-taint"
      operator: "Equal"
  affinity:    
    nodeAffinity:
     requiredDuringSchedulingIgnoredDuringExecution:
       nodeSelectorTerms:
       - matchExpressions:
         - key: statefulset/special-taint
           operator: In
           values:
           - stateful

service:
  type: ClusterIP
  ports:
    client: 9092
    controller: 9093
    interbroker: 9094
    external: 9095

externalAccess:
  enabled: true
  autoDiscovery:
    enabled: true

  controller:
    service:      
      type: ClusterIP
      ports:
        external: 9092
      domain: "kafka.tsgs.aws2.rafael.co.il"
#   broker:
#     service:
#       type: ClusterIP
#       ports:
#         external: 9090
#       domain: "kafka.tsgs.aws2.rafael.co.il"

networkPolicy:
  enabled: false

serviceAccount:
  create: true

rbac:
  create: true

metrics:
  jmx:
    enabled: true
    image:
      registry: artifactory.rafael.co.il:6001
      repository: bitnami/jmx-exporter
      tag: 1.4.0-debian-12-r0
  serviceMonitor:
    enabled: true
    jobLabel: "cicd-mission"

provisioning:
  enabled: true
  automountServiceAccountToken: true
  numPartitions: 1
  replicationFactor: 1 
  auth:
    tls:
      type: pem
      certificatesSecret: ["kafkabitnami-tls","kafkabitnami-tls","kafkabitnami-tls"]
      pemChainIncluded: true
      autoGenerated:
        enabled: false 
tls:             
  sslClientAuth: "none"
  type: PEM  
  pemChainIncluded: true
  autoGenerated:
    enabled: false
  existingSecret: "kafkabitnami-tls"


# initContainers: 
#   - name: remove-locks-kafka
#     image: artifactory.rafael.co.il:6001/infra/busybox:1.36.1-uclibc
#     # command: ['sh', '-c', "rm -rf /bitnami/kafka/data/.lock"]
#     command: 
#     - sh
#     - -c 
#     - |
#       /bin/df
#       /bin/rm -rf /bitnami/kafka/data/.lock
#       /bin/touch /tmp/tsgs_clean_locks_done.txt
#     #  while true; do sleep 30; done;
#     volumeMounts:
#       - name: data
#         mountPath: /bitnami/kafka
