global:
  # imageRegistry: "artifactory.rafael.co.il:6001"
  # imagePullSecrets:
  #   - tsgs-registry
  defaultStorageClass: ""
  storageClass: "efs-sc"
  security:
    allowInsecureImages: true


# image:
#   registry: artifactory.rafael.co.il:6001
#   repository: bitnami/kafka
#   tag: 4.0.0-debian-12-r10
#   digest: ""
#   pullPolicy: IfNotPresent
#   pullSecrets:
#     - tsgs-registry
#   debug: true

##
listeners:
  client:
    containerPort: 9092
    protocol: PLAINTEXT
    name: CLIENT
    sslClientAuth: ""

  controller:
    name: CONTROLLER
    containerPort: 9093
    protocol: PLAINTEXT
    sslClientAuth: ""

  interbroker:
    containerPort: 9094
    protocol: PLAINTEXT
    name: INTERNAL
    sslClientAuth: ""

  external:
    containerPort: 9095
    protocol: PLAINTEXT
    name: EXTERNAL
    sslClientAuth: "none"

controller:
  terminationGracePeriodSeconds: 90  
  replicaCount: 3
  controllerOnly: false
  automountServiceAccountToken: true
  # heapOpts: -Xmx4048m -Xms4048m
  heapOpts: -XX:InitialRAMPercentage=50 -XX:MaxRAMPercentage=50
  # resources:
  #   requests:
  #     memory: "8096Mi"
  #     cpu: 4
  #   limits:
  #     memory: "8096Mi"
  #     cpu: 4
  resourcesPreset: "large"
  persistence:
    enabled: true
    size: 20Gi
  logPersistence:
    enabled: true
    size: 3Gi
  pdb:
    create: false
    minAvailable: ""
    maxUnavailable: 1
 
service:
  type: ClusterIP
  ports:
    client: 9092
    controller: 9093
    interbroker: 9094
    external: 9095

externalAccess:
  enabled: true
  autoDiscovery:
    enabled: true

  controller:
    service:      
      type: ClusterIP
      ports:
        external: 9095
      domain: "kafka.testmpr.aws2.rafael.co.il"
  # broker:
  #   service:
  #     type: ClusterIP
  #     ports:
  #       external: 9090
  #     domain: "kafka.tsgs.aws2.rafael.co.il"

networkPolicy:
  enabled: false

serviceAccount:
  create: true

rbac:
  create: true

serviceMonitor:
    enabled: true
    jobLabel: "mpr"

metrics:
  jmx:
    enabled: false
    image:
      registry: artifactory.rafael.co.il:6001
      repository: bitnami/jmx-exporter
      tag: 1.4.0-debian-12-r0

    resources:
      requests:
        cpu: 2
        memory: 512Mi
      limits:
        cpu: 3
        memory: 1024Mi

provisioning:
  enabled: true
  automountServiceAccountToken: true
  numPartitions: 1
  replicationFactor: 1 
  auth:
    tls:
      type: pem
      certificatesSecret: ["kafkabitnami-tls","kafkabitnami-tls","kafkabitnami-tls"]
      pemChainIncluded: true
      autoGenerated:
        enabled: false 
tls:             
  sslClientAuth: "none"
  type: PEM  
  pemChainIncluded: true
  autoGenerated:
    enabled: false
  existingSecret: "kafkabitnami-tls"

# initContainers: 
#   - name: remove-locks-kafka
#     image: artifactory.rafael.co.il:6001/infra/busybox:1.36.1-uclibc
#     # command: ['sh', '-c', "rm -rf /bitnami/kafka/data/.lock"]
#     command: 
#     - sh
#     - -c 
#     - |
#       /bin/df
#       /bin/rm -rf /bitnami/kafka/data/.lock
#       /bin/touch /tmp/tsgs_clean_locks_done.txt
#     #  while true; do sleep 30; done;
#     volumeMounts:
#       - name: data
#         mountPath: /bitnami/kafka
