## nginx configuration
## Ref: https://github.com/kubernetes/ingress-nginx/blob/master/controllers/nginx/configuration.md
##
controller:
  extraArgs:
    default-ssl-certificate: "default/testmpr-aws-wildcard-cert"
    http-port: "9001"
    default-server-port: "8089"
  hostNetwork: true
  hostPort:
    enabled: true
    ports:
      # http: 8080
      https: 443
  containerPort:
    # http: 8080
    https: 443

  metrics:
    enabled: true
  ## DaemonSet or Deployment
  ##
  kind: DaemonSet
  service:
    targetPorts:
      # http: 8080
      https: https

    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "8000"
      # service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "AutoTag_AccountId=084375561449,AutoTag_CreateTime=2025-08-13T10:52:03Z,AutoTag_Creator=arn:aws:sts::084375561449:assumed-role/AmazonEKSLoadBalancerControllerRole/1755583759507977498,AutoTag_CreatorUserName=1755583759507977498"
    enableHttps: true
    enableHttp: true
    type: LoadBalancer
    # type: ClusterIP
    # type: NodePort

    nodePorts:
      http: 32080
      https: 32443
      # tcp:
      #   8080: 32808

defaultBackend:
  ##
  enabled: true

tcp: 
#  8080: "default/example-tcp-svc:9000"
## Kafka Bitnami 3.4.0 TCP Configurations ##

## MongoDB-8 ##
  27017: "default/mongo8-primary:27017"
  9095: "default/bitnami-kafka:9095"


