replicaCount: 1

image:
  repository: ronbutbul135/tic-tac-toe-statistics
  pullPolicy: IfNotPresent
  # tag: "latest"

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Global config reference
globalConfig:
  name: global-config-config
  namespace: default

# Service configuration
service:
  type: ClusterIP
  port: 8000

# Ingress configuration
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: statistics.testmpr.aws2.rafael.co.il.testmpr.aws2.rafael.co.il
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: testmpr-aws-wildcard-cert
      hosts:
        - statistics.testmpr.aws2.rafael.co.il.testmpr.aws2.rafael.co.il
