global:
  storageClass: "efs-sc"
  security:
    allowInsecureImages: true

automountServiceAccountToken: true
replicaSetHostnames: true
replicaCount: 3
architecture: replicaset
useStatefulSet: true


sidecars:
  - name: mongo-labeler
    image: docker.io/ronbutbul135/k8s-mongo-labeler-sidecar
    imagePullPolicy: IfNotPresent
    env:
      - name: LABEL_SELECTOR
        value: "app.kubernetes.io/instance=mongo8-default"
      - name: NAMESPACE
        value: "default"
      - name: DEBUG
        value: "true"

extraDeploy:
- apiVersion: v1
  kind: Service
  metadata:
    name: mongo8-primary
    namespace: default

  spec:
    type: ClusterIP
    ports:
      - name: mongodb
        port: 27017
        protocol: TCP
        targetPort: 27017
    selector:
      app.kubernetes.io/instance: mongo8-default
      primary: "true"


service:
  type: ClusterIP
  portName: mongodb
  ports:
    mongodb: 27017


networkPolicy:
  enabled: false


persistence:
  enabled: true
  storageClass: "efs-sc"
  accessModes:
    - ReadWriteOnce
  size: 10Gi

rbac:
  create: true
  rules:
    - apiGroups:
        - ""
      resources:
        - pods
      verbs:
        - get
        - list
        - watch
        - update

arbiter:
  enabled: false

metrics:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/mongodb-exporter
    tag: 0.47.0-debian-12-r1
    pullPolicy: IfNotPresent
    pullSecrets:
      - tsinf-reg