## ------------------------------------------------------
## Kafka Connect
## ------------------------------------------------------
cp-kafka-connect:
  enabled: true
# image: artifactory.rafael.co.il:6001/infra/kafka-connect-tsgs
# imageTag: 1.0.0

tolerations:
  - key: "statefulset/special-taint"
    operator: "Equal"
affinity:
  nodeAffinity:
   requiredDuringSchedulingIgnoredDuringExecution:
     nodeSelectorTerms:
     - matchExpressions:
       - key: statefulset/special-taint
         operator: In
         values:
         - stateful   
image: artifactory.rafael.co.il:6001/infra/confluentinc/cp-kafka-connect
imageTag: 7.3.2.b1 

imagePullSecrets:
- name : "tsinf-reg"

configurationOverrides:
  "offset.flush.interval.ms": "1000"
  "connections.max.idle.ms": "100000"
  "log4j.rootLogger": "INFO"
  "config.storage.replication.factor": "1"
  "offset.storage.replication.factor": "1"
  "status.storage.replication.factor": "1"
  "config.storage.topic": "kafkaconnect-rafael-tsgs-test-flight-cp-kafka-connect-config"
  "offset.storage.topic": "kafkaconnect-rafael-tsgs-test-flight-cp-kafka-connect-offset"
  "status.storage.topic": "kafkaconnect-rafael-tsgs-test-flight-cp-kafka-connect-status"  

  # "security.protocol": "SSL" 
  # "ssl.truststore.location": "/home/appuser/truststore.jks"
  # "ssl.truststore.password": "changeit"
  # "ssl.keystore.location": "/home/appuser/keystore.jks"
  # "ssl.keystore.password": "changeit"
  # "ssl.client.auth": "required"
  
  # For source connectors
  
  # "producer.security.protocol": "SSL"
  # "producer.ssl.keystore.location": "/home/appuser/keystore.jks"
  # "producer.ssl.keystore.password": "changeit"

  # For sink connectors
  
  # "consumer.security.protocol": "SSL"
  # "consumer.ssl.keystore.location": "/home/appuser/keystore.jks"
  # "consumer.ssl.keystore.password": "changeit"


nodePort:
  targetPort: 32002

## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod

# imagePullSecrets:
#  - name: "regcred"

heapOptions: "-Xms2G -Xmx2G"

# resources: {}
## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
## and remove the curly braces after 'resources:'
#  limits:
#   cpu: 100m
#   memory: 128Mi
#  requests:
#   cpu: 100m
#   memory: 128Mi

resources: 
  limits:    
    memory: 4G
  requests:    
    memory: 4G

prometheus:
## JMX Exporter Configuration
## ref: https://github.com/prometheus/jmx_exporter
  jmx:
    enabled: false
    image: artifactory.rafael.co.il:6001/infra/solsson/kafka-prometheus-jmx-exporter
    imageTag: 6f82e2b0464f50da8104acd7363fb9b995001ddff77d248379f8788e78946143
    imagePullPolicy: IfNotPresent
    port: 5556

  ## Resources configuration for the JMX exporter container.
  ## See the `resources` documentation above for details.
    resources: {}

## You can list load balanced service endpoint, or list of all brokers (which is hard in K8s).  e.g.:
## bootstrapServers: "PLAINTEXT://dozing-prawn-kafka-headless:9092"
kafka:
  bootstrapServers: "kafka-rafael-tsgs-test-flight:9092"

# # customEnv: 
#   CUSTOM_SCRIPT_PATH: /import-certs/import-certs.sh
 
# volumes:
#   - name: secret-volume
#     secret:
#       secretName: kafkaconnect-test-flight-tls-secret
#   - name: import-certs
#     configMap:
#       name: kafka-connect-tls-configmap
#       defaultMode: 0777
# volumeMounts:
#   - name: secret-volume
#     mountPath: "/etc/creds-volume"
#     readOnly: true
#   - name: import-certs
#     mountPath: "/import-certs"
