apiVersion: v1
kind: Service
metadata:
  name: {{ include "game-logic-service.fullname" . }}
  labels:
    {{- include "game-logic-service.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    {{- include "game-logic-service.selectorLabels" . | nindent 4 }}

