# global:
#   imagePullSecrets: 
#   - name: "tsinf-reg"
#   imageRegistry: artifactory.rafael.co.il:6001

  admissionWebhooks:
    enabled: false

alertmanager:
  enabled: true
#   alertmanagerSpec:
    # image:
    #   registry: artifactory.rafael.co.il:6001/quay.io
    #   repository: prometheus/alertmanager
    #   tag: v0.27.0

grafana:
  enabled: true
  # image:
  #   registry: artifactory.rafael.co.il:6001
  #   repository: grafana/grafana
  # persistence:
  #   enabled: true
  #   type: sts
  #   storageClassName: "prometheus-sc"
  #   accessModes:
  #     - ReadWriteOnce
  #   size: 20Gi
  #   finalizers:
  #     - kubernetes.io/pvc-protection
   
  # sidecar:
  #   dashboards:
  #     enable: true
  #     folderAnnotation: grafana_folder
  #     provider:
  #       foldersFromFilesStructure: true     
  #     label: grafana_dashboard
  #     labelValue: "1"
  #     searchNamespace: general
  #   alerts:
  #     enabled: true
  #     label: grafana_alert
  #     labelValue: "1"
  #     searchNamespace: general

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts: 
      - "grafana.testmpr.aws2.rafael.co.il"
      # path: /grafana(/|$)(.*)
    path: /
    tls:
       - secretName: testmpr-aws-wildcard-cert
         hosts:
           - grafana.testmpr.aws2.rafael.co.il

    
  # grafana.ini:
  #     users:
  #       viewers_can_edit: false
  #     auth:
  #       disable_login_form: false
  #       disable_signout_menu: false
  #     security:
  #       allow_embedding: true
  #     auth.anonymous:
  #       enabled: true
  #       org_role: Viewer

kubeStateMetrics:
  enabled: true
  # image:
  #   registry: artifactory.rafael.co.il:6001/registry.k8s.io
  #   repository: kube-state-metrics/kube-state-metrics


nodeExporter:
  enabled: true

prometheus-node-exporter:
  # image:
  #   registry: artifactory.rafael.co.il:6001/quay.io
  #   repository: prometheus/node-exporter
  
  service:
    enabled: true
    type: ClusterIP
    clusterIP: ""
    port: 9100
    targetPort: 9100
    nodePort:
    portName: metrics
  
prometheusOperator:
  enabled: true
  admissionWebhooks:
    enabled: false
    
  # image:
  #   registry: artifactory.rafael.co.il:6001/quay.io
  #   repository: prometheus-operator/prometheus-operator
  
  prometheusConfigReloader:
    image:
      registry: quay.io
      repository: prometheus-operator/prometheus-config-reloader


prometheus:
  enabled: true
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts: 
      - "prometheus.testmpr.aws2.rafael.co.il"
    tls:
       - secretName: testmpr-aws-wildcard-cert
         hosts:
           - prometheus.testmpr.aws2.rafael.co.il
  
  prometheusSpec:
    enableRemoteWriteReceiver: true
    enableAdminAPI: true
    automountServiceAccountToken: true
    # image:
    #     registry: artifactory.rafael.co.il:6001/quay.io
    #     repository: prometheus/prometheus
    #     tag: v2.53.0

   
    storageSpec:
     volumeClaimTemplate:
       spec:
         storageClassName: efs-sc
         accessModes: ["ReadWriteOnce"]
         resources:
           requests:
             storage: 50Gi    
    # additionalScrapeConfigs:
    #   - job_name: 'otel-collector-adlg-cicd'
    #     scrape_interval: 10s
    #     metrics_path: /metrics
    #     scheme: https
    #     static_configs:
    #     - targets: ['otel-metrics-rafael-adlg-cicd.apps.rosa-rf-cluster.61sb.p1.openshiftapps.com']
    #   - job_name: 'otel-collector-adlg-test'
    #     scrape_interval: 10s
    #     metrics_path: /metrics
    #     scheme: https
    #     static_configs:
    #     - targets: ['otel-metrics-rafael-adlg-test.apps.rosa-rf-cluster.61sb.p1.openshiftapps.com']
    #   - job_name: 'trivy-infra'
    #     scrape_interval: 10s
    #     metrics_path: /metrics
    #     scheme: http
    #     static_configs:
    #     - targets: ['trivy-operator.trivy-operator.svc.cluster.local:80']  
    #   - job_name: 'kafka4'
    #     scrape_interval: 10s
    #     metrics_path: /metrics
    #     scheme: http
    #     static_configs:
    #     - targets: ['kafka-rafael-tsgs-cicd-flight-jmx-metrics.rafael-tsgs-cicd-flight.svc.cluster.local:5556']
    #   - job_name: 'pg16-cicd-flight'
    #     scrape_interval: 10s
    #     metrics_path: /metrics
    #     kubernetes_sd_configs:
    #       - role: pod
    #         namespaces:
    #           names:
    #             - rafael-tsgs-cicd-flight
    #         selectors:
    #           - role: "pod"
    #             label: "cnpg.io/cluster=cicd-flight-cluster-pg"
    #     relabel_configs:
    #       - source_labels: [__meta_kubernetes_namespace]
    #         target_label: namespace






